
@{
    ViewBag.Tag = "APPROVAL";
    ViewBag.Title = "Approval";
}

<div data-bind="visible: isListShowed">
    <div class="row gutter-xs" data-bind="visible: listBody">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions">

                    </div>
                    <strong>Approval</strong>
                </div>
                <div class="card-body">
                    <table id="transactionTable" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Transaction no.</th>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Date</th>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Transaction type</th>
                            <th style="background: #d1202d; color: #ffffff;" width="60%">Customer name</th>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="visible: spinnerList">
        <div class="text-center" data-toggle="match-height">
            <div class="spinner spinner-primary spinner-lg pos-r sq-100"></div>
        </div>
    </div>
</div>


<!-- FOR APPROVAL -->
<div data-bind="visible: isCreateModeShowApproval">
    <div class="title-bar">
        <h1 class="title-bar-title">
            <span class="d-ib"><!--ko text: title--><!--/ko--></span>
            <span class="d-ib icon icon-diamond">

            </span>
        </h1>
    </div>
    <!-- Transaction no. -->
    <div class="card">
        <div class="card-header" style="background-color: #f2dede">
            <div class="card-actions">
                <button id="card1" type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>

            <strong>Transaction</strong>
        </div>
        <div class="card-body">
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-6 control-label" for="form-control-1">Transaction no.</label>
                        <div class="col-sm-6">
                            <div class="input-with-icon">
                                <input id="transaction_no" data-bind="textinput: Transaction.TransactionNo" placeholder="Transaction no." class="form-control" type="text">
                                <span class="icon icon-hashtag input-icon"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-3 control-label" for="form-control-1">Date</label>
                        <div class="col-sm-9">
                            <div class="input-with-icon">
                                <input id="transaction_date" data-bind="textinput: moment(Transaction.TransactionDate()).format('L')" class="form-control" type="text" data-provide="datepicker" data-date-today-highlight="true">
                                <span class="icon icon-calendar input-icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Transaction no. -->
    <!-- Customer details -->
    <div class="card">
        <div class="card-header" style="background-color: #f2dede">
            <div class="card-actions">
                <button id="card2" type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>

            <strong>Customer Profile</strong>
        </div>
        <div class="card-body">
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Last name</label>
                        <div class="col-sm-9">
                            <input id="last_name" data-bind="textinput: Customer.last_name" placeholder="Last name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">First name</label>
                        <div class="col-sm-9">
                            <input id="first_name" data-bind="textinput: Customer.first_name" placeholder="First name" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Middle name</label>
                        <div class="col-sm-9">
                            <input id="middle_name" data-bind="textinput: Customer.middle_name" placeholder="Middle name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Street address</label>
                        <div class="col-sm-9">
                            <input id="st_address" data-bind="textinput: Customer.st_address" placeholder="Street address" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">City</label>
                        <div class="col-sm-9">
                            <input id="city_address" data-bind="textinput: Customer.city_address" placeholder="City" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Mobile no.</label>
                        <div class="col-sm-9">
                            <input id="mobile_no" data-bind="textinput: Customer.mobile_no" placeholder="Mobile no." class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Customer details -->
    <!-- Item Description -->
    <div class="card">
        <div class="card-header" style="background-color: #f2dede">
            <div class="card-actions">
                <button id="card3" type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>

            <strong>Item Description</strong>
        </div>
        <div class="card-body">
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Item type</label>
                        <div class="col-sm-9">
                            <select id="ItemTypeId" data-bind="options: itemType, optionsValue: 'ItemTypeId', optionsText: 'ItemTypeName', optionsCaption: '--Select item type--', textinput: AppraisedItem.ItemTypeId, event:{ change: getItemCategory('')}" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Item category</label>
                        <div class="col-sm-9">
                            <select id="ItemCategoryId" data-bind="options: itemCategory, optionsValue: 'ItemCategoryId', optionsText: 'ItemCategoryName', optionsCaption: '--Select item category--', textinput: AppraisedItem.ItemCategoryId" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Item name</label>
                        <div class="col-sm-9">
                            <input id="ItemName" data-bind="value: AppraisedItem.ItemName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Remarks</label>
                        <div class="col-sm-9">
                            <textarea id="Remarks" data-bind="value: AppraisedItem.Remarks" class="form-control" row="5" col="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Item Description -->
    <!-- Appraisal Details -->
    <div class="card">
        <div class="card-header" style="background-color: #f2dede">
            <div class="card-actions">
                <button id="card4" type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>

            <strong>Appraisal Details</strong>
        </div>
        <div class="card-body">
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Appraise Date</label>
                        <div class="col-sm-9">
                            <input id="AppraiseDate" data-bind="value: moment(AppraisedItem.AppraiseDate()).format('L')" class="form-control" type="text" data-provide="datepicker" data-date-today-highlight="true">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Serial no.</label>
                        <div class="col-sm-9">
                            <input id="SerialNo" data-bind="value: AppraisedItem.SerialNo" placeholder="Serial no." class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Item feature</label>
                        <div class="col-sm-9">
                            <input id="ItemFeature" data-bind="value: AppraisedItem.ItemFeature" placeholder="Item feature" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Item condition</label>
                        <div class="col-sm-9">
                            <input id="ItemCondition" data-bind="value: AppraisedItem.ItemCondition" placeholder="Item condition" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Karat</label>
                        <div class="col-sm-9">
                            <input id="Karat" data-bind="value: AppraisedItem.Karat" placeholder="Karat" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Weight</label>
                        <div class="col-sm-9">
                            <input id="Weight" data-bind="value: AppraisedItem.Weight" placeholder="Weight" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Karat</label>
                        <div class="col-sm-9">
                            <textarea id="Remarks" data-bind="value: AppraisedItem.Remarks" class="form-control" row="5" col="5"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="form-control-1">Appraised value</label>
                        <div class="col-sm-9">
                            <input id="AppraisedValue" data-bind="value: AppraisedItem.AppraisedValue" placeholder="Appraised value" class="form-control" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appraisal Details -->
    <!-- Payment terms & Schedule -->
    <div class="card">
        <div class="card-header" style="background-color: #f2dede">
            <div class="card-actions">
                <button id="card5" type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>

            <strong>Payment terms & Schedule</strong>
        </div>
        <div class="card-body">
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Contract no.</label>
                        <div class="col-sm-8">
                            <input id="PawnedItemContractNo" data-bind="textinput: PawnedItem.PawnedItemContractNo" placeholder="Contract no." class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Pawned date</label>
                        <div class="col-sm-8">
                            <div class="input-with-icon">
                                <input id="PawnedDate" data-bind="textinput: moment(PawnedItem.PawnedDate()).format('L')" class="form-control" type="text" data-provide="datepicker" data-date-today-highlight="true">
                                <span class="icon icon-calendar input-icon"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Terms</label>
                        <div class="col-sm-8">
                            <select id="TermsId" data-bind="options: terms, optionsValue: 'multiplier', optionsText: 'term_desc', optionsCaption: '--Select term--', textinput: PawnedItem.TermsId, event:{ change: changeTermsOptions()}" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Schedule of payment</label>
                        <div class="col-sm-8">
                            <select id="ScheduleOfPayment" data-bind="textinput: PawnedItem.ScheduleOfPayment, value: PawnedItem.ScheduleOfPayment" class="form-control" onchange="app.vm.changeScheduleOptions();">
                                <option value="Monthly">Monthly</option>
                                <option value="Semi-Monthly">Semi-Monthly</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Daily">Daily</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">No of payment</label>
                        <div class="col-sm-8">
                            <input id="NoOfPayments" data-bind="textinput: PawnedItem.NoOfPayments, value: PawnedItem.NoOfPayments" class="form-control" style="text-align:right" type="number">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-2 control-label" for="form-control-1">Due date</label>
                        <div class="col-sm-10">
                            <div class="input-group input-daterange" data-provide="datepicker" data-date-autoclose="true" data-date-format="m/dd/yyyy">
                                <input id="DueDateStart" data-bind="textinput: moment(PawnedItem.DueDateStart()).format('L')" class="form-control" type="text" onchange="app.vm.changeDueDateStart()">
                                <span class="input-group-addon">to</span>
                                <input id="DueDateEnd" data-bind="textinput: moment(PawnedItem.DueDateEnd()).format('L')" class="form-control" type="text" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <br><h6 class="card-title text-semibold">Loan Details</h6><br>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Loanable amount</label>
                        <div class="col-sm-8">
                            <input id="LoanableAmount" data-bind="textinput: PawnedItem.LoanableAmount" class="form-control" style="text-align:right" type="number" value="0" min="0" onchange="app.vm.computeAmount()" onclick="app.vm.computeAmount()" min="0">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Interest rate</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">%</span>
                                <input id="InterestRate" data-bind="textinput: PawnedItem.InterestRate" class="form-control" style="text-align:right" type="number" value="0" min="0" onchange="app.vm.computeAmount()" onclick="app.vm.computeAmount()" min="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Interest Scheme</label>
                        <div class="col-sm-8">
                            <select id="Scheme" data-bind="textinput: PawnedItem.Scheme, value: PawnedItem.Scheme" class="form-control" onchange="app.vm.computeAmount()" onclick="app.vm.computeAmount()">
                                <option value="Straight">Straight</option>
                                <option value="Diminishing">Diminishing</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Interest amount</label>
                        <div class="col-sm-8">
                            <input id="InterestAmount" data-bind="textinput: PawnedItem.InterestAmount" class="form-control" style="text-align:right" type="number" value="0" min="0" tabindex="-1" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Initial payment</label>
                        <div class="col-sm-8">
                            <input id="InitialPayment" data-bind="textinput: PawnedItem.InitialPayment" class="form-control" style="text-align:right" type="number" value="0" min="0" onchange="app.vm.computeNetCashout()" onclick="app.vm.computeNetCashout()">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Service charge</label>
                        <div class="col-sm-8">
                            <input id="ServiceCharge" data-bind="textinput: PawnedItem.ServiceCharge" class="form-control" style="text-align:right" type="number" value="0" min="0" onchange="app.vm.computeNetCashout()" onclick="app.vm.computeNetCashout()">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Others</label>
                        <div class="col-sm-8">
                            <input id="Others" data-bind="textinput: PawnedItem.Others" class="form-control" style="text-align:right" type="number" value="0" min="0" onchange="app.vm.computeNetCashout()" onclick="app.vm.computeNetCashout()">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Deduct interest?</label>
                        <div class="col-sm-8">
                            <select id="IsInterestDeducted" data-bind="textinput: PawnedItem.IsInterestDeducted, value: PawnedItem.IsInterestDeducted" class="form-control" onchange="app.vm.computeNetCashout()">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="form-control-1">Net Cashout</label>
                        <div class="col-sm-8">
                            <input id="NetCashOut" data-bind="textinput: PawnedItem.NetCashOut" class="form-control numbers" style="text-align:right" type="number" value="0" min="0" tabindex="-1" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Payment terms & Schedule -->
    <!-- Amortization Ledger -->
    <div class="card">
        <div class="card-header" style="background-color: #f2dede">
            <div class="card-actions">
                <button id="card5" type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>

            <strong>Amortization Ledger</strong>
        </div>
        <div class="card-body">
            <div class="form form-horizontal" data-bind="visible: AmortizationLedgerBody">
                <table id="Amortization" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="background: #d1202d; color: #ffffff;">Term</th>
                            <th style="background: #d1202d; color: #ffffff;">Due Date</th>
                            <th style="background: #d1202d; color: #ffffff;">Principal</th>
                            <th style="background: #d1202d; color: #ffffff;">Interest</th>
                            <th style="background: #d1202d; color: #ffffff;">Due</th>
                            <th style="background: #d1202d; color: #ffffff;">Balance</th>
                            <th style="background: #d1202d; color: #ffffff;">Remarks</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div data-bind="visible: spinnerAmortizationLedger">
                <div class="panel panel-body text-center" data-toggle="match-height">
                    <div class="spinner spinner-primary spinner-lg pos-r sq-100"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Amortization Ledger -->
    <div class="text-right">
        <button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="icon icon-arrow-left position-left"></i> Back to list</button>
        <button type="submit" data-bind="click: savePawnedItem" class="btn bg-success btn-labeled btn-labeled-right ml-10" id="reset"><b><i class="icon-plus3"></i></b>Save</button>
    </div>
</div>
<!-- /FOR APPROVAL -->

<script type="text/javascript">
     var PageTitle = '@ViewBag.Title';
</script> 
@section scripts{
    <script src="~/Areas/Administrator/Assets/Model/model.js"></script>
    <script src="~/Areas/Administrator/Assets/ViewModel/viewmodel.js"></script>
}