
@{
    ViewBag.Tag = "CHANGE IN TERMS";
    ViewBag.Title = "Change In Terms";
}

<div data-bind="visible: isListShowed">
    <div class="row gutter-xs" data-bind="visible: listBody">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions">
                        <button data-bind="" class="btn btn-success btn-xs btn-labeled" type="submit" id="">
                            <span class="btn-label">
                                <span class="icon icon-plus-circle icon-lg icon-fw"></span>
                            </span>
                            Pre-terminate
                        </button>
                        <button data-bind="" class="btn btn-danger btn-xs btn-labeled" type="submit" id="">
                            <span class="btn-label">
                                <span class="icon icon-plus-circle icon-lg icon-fw"></span>
                            </span>
                            Renew
                        </button>
                        <button data-bind="" class="btn btn-primary btn-xs btn-labeled" type="submit" id="">
                            <span class="btn-label">
                                <span class="icon icon-plus-circle icon-lg icon-fw"></span>
                            </span>
                            Extension
                        </button>
                    </div>
                    <strong>Change in terms</strong>
                </div>
                <div class="card-body">
                    <table id="transactionTable" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Transaction no.</th>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Date</th>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Transaction type</th>
                            <th style="background: #d1202d; color: #ffffff;" width="60%">Customer name</th>
                            <th style="background: #d1202d; color: #ffffff;" width="10%">Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="visible: spinnerList">
        <div class="text-center" data-toggle="match-height">
            <div class="spinner spinner-primary spinner-lg pos-r sq-100"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var PageTitle = '@ViewBag.Title';
</script> 
@section scripts{
    <script src="~/Areas/Administrator/Assets/Model/model.js"></script>
    <script src="~/Areas/Administrator/Assets/ViewModel/viewmodel.js"></script>
}